<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ATM System.</title>
    <link rel="stylesheet" href="/depositstyle.css">
    <link rel="stylesheet" href="/all.css">

  

  </head>
  <body>


{{>header}}
      <section id="main" >
      <div id="log">
<form id="depositform" action="/deposit/{{user.id}}" method="post">


        <div id="h">
          <center>
          <h1>Deposit money {{user.name}}</h1>
        </center>
        </div>
<center>
        <table id="tab">

          <tr>
          <td>
            <i class="fas fa-rupee-sign"></i> &nbsp;
          <label for="cardno">deposit Amount </label>
          </td>
          <td></td>

          <td>
          <input id="depositamount" type="integer" name="amount"   placeholder="       1000/-"  minlength="3" maxlength="5" onemptied="Please Enter the Amount!" oninvalid="Amount Must Be Value Between 3 to 5 Digits"  required pattern="[0-9]*" title="Amount Must Be Entered In 3-5 Digits Numeric Format!">
          </td>
          </tr>

          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>

          <tr>
          <td>
            <i class="fas fa-piggy-bank"></i> &nbsp;
          <label for="account">Account</label>
          </td>
          <td></td>
          <td id="radio">
            <fieldset>

                <label for=""><input style="padding:0 !important;" type="radio" name="gender" value="male"/> Saving</label>  <br>
                <label  for=""><input style="padding:0 !important;" type="radio" name="gender" value="female"/> Current </label> <br>
              </fieldset>


          </td>
          </tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>

          <tr>
            <td style="" id="cancel">
            <button type="button" id="cancel" onclick="redirect(this)" >Cancel Transaction &nbsp;<i class="far fa-times-circle"></i></button>
            </td>
              <td></td>
            <td style="float:right; margin-right:60px;">
              <button type="button" onclick="redirect(this)" id="dep">Deposit &nbsp;<i class="fas fa-user-check"></i> </button>
            </td>
          </tr>
        </table>
</center>

</form>
      </div>

    </section>
<script type="text/javascript">


          var msg = "{{msg}}";

          if(msg=="success")
      {
        setTimeout(function(){
        //alert("Your Details Are Registered !");


          var bal = confirm("Amount Deposited Successfully ! Press Ok for Balance Inquiry")
          //window.location.href="transc.html";
          if(bal == true){
           // document.write();
          window.location.href="/bal/{{user.id}}";
          }
          else{
        window.location.href="/transc/{{user.id}}";
        }


        //window.location.href="/login";
        }
        ,100);
      }

          
  
    function redirect(button){
      console.log("redirect call")
      var x = button.id;
      if(x=='cancel')
      {
        var ans =  confirm("Press Ok to Cancel the Transaction");
        if (ans == true) {
          document.write();
          window.location.href="/transc/{{user.id}}";
          //window.location.assign("loginform")

        } else {
          //document.write();
      //window.location.assign("bal.html")
      return false
        }
      }

      if (x=='dep') {
        var ans =  confirm("Press Ok to Deposit the Amount");
        if (ans == true) {
          var depo = document.getElementById("depositamount").value;
          if(depo!='' && depo!=0){
            if(depo>0){
            
                   document.getElementById("depositform").submit();
            }else{
              alert("Please Enter Correct Amount !");
            }
            

          }
          else{
            alert("Please Enter Deposit Amount !");
          }
          //document.write();
          //alert('hh')
          

        } else {
          //document.write();
      //window.location.assign("bal.html")
      return false
        }
      }
    }

    </script>

{{>footer}}
  </body>
</html>
